body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-color: rgb(190, 190, 190);
}

.container {
  padding: 20px;
  margin: 20px;
  min-width: 60%;
  max-width: 90%;
  background-color: #002b36;
  color: white;
  -webkit-box-shadow: 0px 0px 49px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 49px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 49px -6px rgba(0, 0, 0, 0.75);
}

#title {
  font-size: 1.5em;
}

#title,
#sub-title {
  text-align: center;
}

#graph {
  user-select: none;
}

.dot {
  stroke: black;
  stroke-opacity: 0.3;
}

.dot:hover {
  stroke: black;
  stroke-opacity: 0.7;
}

#tooltip {
  position: absolute;
  background-color: #465a64;
  border-radius: 5px;
  padding: 5px;
  pointer-events: none;
  -webkit-box-shadow: 0px 0px 49px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 49px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 49px -6px rgba(0, 0, 0, 0.75);
}

text {
  font-family: "Roboto", sans-serif;
}

.axis-label {
  font-size: 0.8em;
}

#legend {
  font-size: 0.8em;
}
